
.sider {
    overflow: auto;
    height: 100vh;
    position: sticky;
    inset-inline-start: 0;
    top: 0;
    bottom: 0;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}

.content {
    margin: 24px 16px 0;
    overflow: initial;
}

.wrapper {
    padding: 24px;
}